//
// Font Weight Variables
//
$fontweight-normal: 400 !default;
$fontweight-bolder: 900 !default;
$fontsm: 16px;
//
// Background Color Variables
//
$bg-gray: #efefef !default;
$bg-divbox2: #1d1d1d;
$color-white:white
//
// Color Variables
//
//
//
// Button Color
//
